# Merging Dataframe

#### import library

In [10]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

#### load csv file from first assignment's notebook

In [11]:
toronto_wiki = pd.read_csv("output.csv")
toronto_wiki.drop(['Unnamed: 0'], axis = 1,inplace=True)
toronto_wiki.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

#### load another csv file from http://cocl.us/Geospatial_data

In [12]:
!wget -q -O 'geospatial_data.csv' http://cocl.us/Geospatial_data
print('Data downloaded!')

Data downloaded!

In [13]:
geospatial_data = pd.read_csv("geospatial_data.csv")
geospatial_data = geospatial_data.rename(index=str, columns={"Postal Code": "Postcode"})
geospatial_data.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

#### Merging two dataframe based on 'Postcode'

In [14]:
merge_table = pd.merge(toronto_wiki, geospatial_data, on="Postcode")
merge_table.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

#### Exporting the table into json

In [21]:
from io import StringIO
import json

buff=StringIO()
#merge_table is your DataFrame
merge_table.to_json(path_or_buf=buff,orient='records')
dfJson=json.loads(buff)

TypeError: the JSON object must be str, bytes or bytearray, not 'StringIO'