# Notebook 1

##### Import the library

In [45]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import requests

print('Libraries imported.')

Libraries imported.

##### Create the dataframe from result of scrapping wikipedia page

In [46]:
path = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'    
postal = pd.read_html(path, header=0)
postal_table = postal[0]
postal_table.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

##### Rename the columns
since the initial dataframe had different column name with output expectation

In [47]:
postal_table.columns = ['PostalCode','Borough','Neighborhood']
postal_table.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

##### Data Wrangling
1. if the neighborhood = 'Not assigned', new value for neighborhood = borough
2. after step 1, remove the rows that contain 'Not assigned' in borough

In [48]:
postal_table['Neighborhood'] = np.where(postal_table['Neighborhood'] == 'Not assigned', postal_table['Borough'], postal_table['Neighborhood'])
postal_table = postal_table[~postal_table.Borough.str.contains("Not assigned")]
postal_table.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

##### Data Grouping
1. the table is grouped by PostalCode, but PostalCode isn't table's index
2. an aggregate function is used to combine the remaining columns with a ',' if the PostalCode's are identical.

In [49]:
postal_table=postal_table.groupby('PostalCode', as_index=False).agg(lambda x: ', '.join(set(x.dropna())))
postal_table.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Morningside, Guildwood, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

##### Data Dimension
Showing postal_table's dimension

In [50]:
postal_table.shape

(103, 3)